body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}
/**Always add padding or height to a div before using the position property to give dimensions to the box. Not doing so doesnt position elements inside the div box, it positionon elsewhere***/
.menu {
  background-color: #E4F9F5;
  margin: 0;
  height: 150px;
  /**padding: 100px 0 0;**/
  /**"auto" does not work for padding. Use 0 instead**/
}
.welcome-profile{
  width: 6%;
  margin: 0;
  background-color: #F2DEBA;
  border-radius: 100px;
  position: absolute;
  left: 170px;
  top: 25px;
}
.welcome-head{
  color: #82DBD8;
  font-family: 'Satisfy', cursive;
  margin: 0;
  font-size: 50px;
  width: 20%;
  position: absolute;
  right: 140px;
  top: 65px;
  text-align:center;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 1;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
  color: #40514E;
  line-height: 2;
}

hr{
  /**border:dotted #EAF6F6 6px; border-bottom: none; width: 4%;***/
  border-style: dotted none none;
  border-width: 6px;
  width: 4%;
  color:#EAF6F6;
  margin: 100px auto;
}

.pro {
  text-decoration: underline;
}

.intro {
  margin: auto;
  width: 30%
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
/***to prevent center alignment from being affected by width, margin is set to zero(0) and auto on all top and bottom, right and left respectively***/
.profile-pic {
  background-color: #F2DEBA;
  border-radius: 100px;
  width: 210px;
}

.profile {
  margin: 100px auto;
}
/*same as in .profile-pic selector*/
.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}

.comp-img {
  width: 25%;
  border-radius: 200px;
  float: left;
  margin-right: 30px;
}

.radio-img {
  width: 25%;
  float: right;
  margin-left: 30px;
  background-color: #6D9886;
  border-radius: 100px;
}
/*seperating wrapped texts
.skill-text-description {
  clear: right;
}
*/

.contact-me {
  margin: 100px auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.copywright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #EAF6F6;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
